.container {
  border: 1px solid red;
  display: grid;
  grid-column: span 5;
  grid-template-columns: repeat(5, 1fr);
  position: relative;
  width: 100%;
  grid-gap: 20px;
}

.carousel-area {
  position: relative;
  grid-column: 1/3;
  grid-row: 1/3;
}