@import '../mixins.scss';

.container {
  border: 1px solid red;
  @include flex($justify: space-between, $itemsAlign: center);
  position: absolute;
  top: 0;
  height: 64px;
  // line-height: 64px;
  padding: 0 24px;
  max-width: 2560px;
  z-index: 1002;
  box-sizing: border-box;
  width: 100%;
}

.left-entry {
  @include flex();
  height: 100%;
  flex-shrink: 0;
}

.right-entry {
  @include flex();
  height: 100%;
}

.center-search-container {
  // border: 1px solid red;
  height: 38px;
  flex: 1 auto;
}